<div class="modal-body template-manager-modal" style="overflow: visible">
  <div class="details">
    <div class="reply-selector">
      <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="p8scif5uzqqk35v"></script>
      <div class="chooser">

      </div>
      <script>
       var options = {
    success: function(files) {
        alert("Here's the file link: " + files[0].link)
    },
    cancel: function() {

    },
    linkType: "preview", // or "direct"
    multiselect: false, // or true
    extensions: ['.pdf', '.doc', '.docx'],
};
        var button = Dropbox.createChooseButton(options);
        document.getElementById("chooser").appendChild(button);
      </script>
    </div>

    <div class="content">
      <div>
        {{{selectedReply.cooked}}}
      </div>
    </div>

  </div>
</div>
<div class="modal-footer">
  {{d-button class="btn-default pull-left" action="newReply" icon="plus" label="canned_replies.insert.new_button"}}
</div>